/* Font Size Classes */
.font-xs {
    font-size: 13px;
}

.font-sm {
    font-size: 14px;
    /* Convert rem to pixels */
}

.font-md {
    font-size: 16px;
    /* Convert rem to pixels */
}

.font-xmd {
    font-size: 18px;
    /* Convert rem to pixels */
}

.font-lg {
    font-size: 20px;
    /* Convert rem to pixels */
}

.font-xl {
    font-size: 22px;
    /* Convert rem to pixels */
}

.font-2xl {
    font-size: 24px;
    /* Convert rem to pixels */
}